{% extends 'base.html' %}
{% load static %}

{% block head_content %}

<title>About Us</title>

{% endblock %}

{% block content %}

<div class="body-heading-wrapper">
    <div class="heading-tab">
        <h1>Who Is HYCO?</h1>
    </div>
</div>

<div class="about-wrapper">
    <div class="about-section">

        <div class="spacer20"></div>

        <img src="{% static 'images/logos/HYCO_logo variations_editable_type_nohyco_70_MDK.png' %}" alt="viper" id="viper">

        <p>Hyco Motors is a family owned and operated business located in Monroe Wisconsin. We own more than 120 collectible cars ranging from the 1924 Chrysler B-70 Touring to the 2008 Maserati Grand Turismo. Select vehicles are offered for sale while others are for driving and event rentals. </p>

        <div class="spacer40"></div>

        <p>After retiring from the stressful career as a private equity investor, owner Jeff Cappel decided to invest in his passion of collectible vehicles. </p>
    
    </div>
</div>


{% endblock %}