{% load static %}
<!-- Footer -->
<div class="footer-wrapper">
    <div class="left-column">
        <div class="logo-image-sec">
            <img src="{% static 'images/logos/HYCO_logo variations_editable_type_nohyco_MDK.png' %}" alt="Logo">
        </div>
    </div>

    <div class="right-column">

        <div class="social-media-icon-wrapper">
            <div class="social-media-icon">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            
            <div class="social-media-icon">
                <a href="#">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>

            <div class="social-media-icon">
                <a href="#">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </div>
        </div>

    </div>
</div>