{% load static %}


<div class="car-details-modal" id="details-modal-{{ forloop.counter }}">
    <div class="car-details-modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h1>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</h1>
            </div>
            <div class="close"><i class="far fa-times-circle"></i></div>
        </div>
        
        <div class="modal-body">
            {% include 'components/image_carousel.html' %}

            <div class="modal-info-wrapper">
                <div class="modal-specs-section">
                    <div class="specs-titles">
                        <ul>
                            <li><i class="fas fa-car"></i>&nbsp Make:</li>
                            <li><i class="fas fa-cogs"></i>&nbsp Model:</li>
                            <li><i class="fas fa-history"></i>&nbsp Year:</li>
                            <li><i class="fas fa-fill-drip"></i>&nbsp Color:</li>
                            <li><i class="fas fa-magic"></i>&nbsp Interior:</li>
                            <li><i class="fas fa-dollar-sign"></i>&nbsp Price:</li>
                        </ul>
                    </div>
                    
                    <div class="specs-data">
                        <ul>
                            <li>{{ vehicle.make }}</li>
                            <li>{{ vehicle.model }}</li>
                            <li>{{ vehicle.year }}</li>
                            <li>{{ vehicle.exterior_color }}</li>
                            <li>{{ vehicle.interior }}</li>
                            <li>{{ vehicle.listing_price }}</li>
                        </ul>
                    </div>
                </div>

                <div class="modal-info-section">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas odit voluptates, et non voluptas repudiandae perferendis hic. Id, repudiandae eaque. Dignissimos numquam corrupti quod, vero unde, magnam ipsa laboriosam harum illo delectus veritatis quo culpa inventore porro quas alias! Iure!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS files -->
<script src="{% static 'javascript/car-details-modal.js' %}"></script>