{% load static %}

<div class="contact-wrapper">
    <div class="heading-wrapper">
        <h1>Contact Us</h1>
    </div>

    <div class="contact-grid-wrapper">

        <div class="contact-info-wrapper">
            <div class="company-details-wrapper">
                <i class="fas fa-map-marker-alt"></i>

                <div class="address">
                    505 North St<br>Austin, TX, 78751
                </div>
            </div>

            <div class="company-details-wrapper">
                <i class="fas fa-phone"></i>

                <div class="phone">
                    555 555 5555
                </div>
            </div>

            <div class="company-details-wrapper">
                <i class="fas fa-clock"></i>

                <div class="hours">
                    10 AM - MIDNIGHT
                </div>
            </div>
        </div>

        <div class="form">
            <div class="form-group">
                <input type="text" id="fullName" placeholder="Full Name">
                <label for="fullName">Full Name</label>
            </div>

            <div class="form-group">
                <input type="email" id="email" placeholder="Email Address">
                <label for="email">Email Address</label>
            </div>

            <div class="form-group">
                <textarea name="message" id="message" placeholder="Message"></textarea>
                <label for="message">Message</label>
            </div>

            <div class="send-btn-wrapper">
                <button type="submit" class="btn">
                    <i class="fas fa-cog"></i>
                    Send
                </button>
            </div>
        </div>

    </div>
</div>
