{% load static %}

<section class="row">
    <div class="nine columns">
      <div class="coverflow top10 bot10">
        <a class="prev-arrow"></a>
        <a class="image" href=""><img src="{% static 'images/background/land_rover.jpg' %}" class="coverflow__image" /></a>
        <a class="image" href=""><img src="{% static 'images/background/land_rover.jpg' %}" class="coverflow__image" /></a>
        <a class="image" href=""><img src="{% static 'images/background/land_rover.jpg' %}" class="coverflow__image" /></a>
        <a class="image" href=""><img src="{% static 'images/background/land_rover.jpg' %}" class="coverflow__image" /></a>
        <a class="image" href=""><img src="{% static 'images/background/land_rover.jpg' %}" class="coverflow__image" /></a>
        <a class="image" href=""><img src="{% static 'images/background/land_rover.jpg' %}" class="coverflow__image" /></a>
        <a class="image" href=""><img src="{% static 'images/background/land_rover.jpg' %}" class="coverflow__image" /></a>
        <a class="next-arrow"></a>
      </div>
    </div>
  </section>

  <script src="{% static 'javascript/image-carousel.js' %}"></script>