{% load static %}
<!-- Heading Bar -->
<div class="navigation-wrapper">

    <div class="left-column">
        <div class="logo-image-main">
            <img src="{% static 'images/logos/HYCO_MOTORS_circle_MDK.png' %}" alt="Logo">
        </div>
    </div>

    <!-- <div class="right-column">

        <div class="nav-btn">
            <a href="#" id="btn-menu-open" class="btn-open">
                <i class="fas fa-bars"></i>
            </a>

            <a href="#" id="btn-menu-close" class="btn-close">
                <i class="fas fa-times-circle"></i>
            </a>

            <div id="dropdown-menu" class="menu-contents">
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'vehicle-sales' %}">Vehicle Sales</a>
                <a href="storage.html">Storage</a>
                <a href="detailing_paint.html">Detailing/Paint Correction</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </div>
        </div>
        

    </div> -->

    <div class="right-column">
        <ul class="menu-contents">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'vehicle-sales' %}">Vehicle Sales</a></li>
            <li class="dropdown-menu" id="dropdown-sub-menu"><a href="#">Rentals</a>
                <ul class="dropdown">
                    <li><a class="subtag" href="#">Collection 1</a></li>
                    <li><a class="subtag" href="#">Collection 2</a></li>
                    <li><a class="subtag" href="#">Collection 3</a></li>
                    <li><a class="subtag" href="#">Collection 4</a></li>
                </ul>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

    </div>

</div>




<!-- JS files -->
<!-- <script src="{% static 'javascript/nav.js' %}"></script> -->



